spring:
  application:
    name: helpdesk

  datasource:
    url: jdbc:postgresql://localhost:5432/library
    username: lucas
    password: mrjhonhy1579
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  security:
    user:
      name: admin
      password: 1234

  mail:
    host: smtp.gmail.com
    port: 587
    username: springsend124321@gmail.com
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

springdoc:
  override-with-generic-response: false

server:
  port: 8082

